html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* Auxiliar Boxes - START */

.header {
  /* border: 1px solid red; */
}

.header-top {
  /* border: 2px solid blue; */
}

.header-bottom {
  /* border: 2px solid green; */
}

.header-top nav {
  /* border: 2px solid rebeccapurple; */
}

.header-bottom img {
  width: 500px;
  height: 200px;
}

.box {
  /* border: 2px solid green; */

}

.box img {
  width: 100%;
  height: auto;
  border: 5px solid #3882F6;
  border-radius: 8px;
  
}

.main-content {
  /* border: 2px solid orange; */
}

.info {
  /* border: 2px solid rebeccapurple; */
}

.box-container {
  /* border: 2px solid burlywood; */
}

.quote {
  /* border: 2px solid pink; */
}

.call-to-action {
  /* border: 2px solid greenyellow; */
}

.text-cta {
  /* border: 2px dashed rgb(56, 104, 206); */
}

.wrapper {
  /* border: 2px solid greenyellow; */
}

/* Auxiliar Boxes - END */



/* Styles */

html {
  font-family: Arial, Helvetica, sans-serif;

}

body {
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  color: #F9FAF8;
  font-weight: bolder;
  font-size: 48px;
}

.info-h2 {
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

.main-content p, li {
  color: #E5E7EB;
  font-size: 18px;
}

.call-to-action button {
  border: 2px solid #F9FAF8;
}

button {
  border: none;
  border-radius: 5px;
  color: #E5E7EB;
  background-color: #3882F6;
  font-weight: bold;
  padding: 8px 20px;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
}

.header {
  background-color: #1F2937;
  margin-bottom: 50px;
  padding: 10px 0 80px;
}

.header, .info, .quote, .call-to-action, footer {
  display: flex;
  justify-content: center;
}

.header-top {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top nav {
  list-style: none;
  display: flex;
  gap: 10px;
}

.header-bottom {
  padding-top;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.main-content {
  text-align: left;
}

.info {
  padding: 20px 80px;
  margin-bottom: 50px;
}

.box-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.quote {
  margin-bottom: 50px;
  background-color: #E5E7EB;
}

.quote .wrapper {
  padding: 60px 50px;
}

.quote p {
  /* text-align: left; */
  color: #1F2937;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote .author {
  text-align: right;
}

.call-to-action {
  margin-bottom: 50px;
}

.call-to-action .wrapper {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-cta {
  color: #E5E7EB;
}

footer {
  background-color: #1F2937;
  color: #E5E7EB;
  height: 40px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 1000px;
}